<!-- Created by Dragoş Vatră  0743503240  vatradragos@yaoo.com -->
<!-- Start web page -->
<!DOCTYPE html>
<html lang="en">
<!-- Start <head> elements -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Magna Graecia - Questionnaire - Created and built by Dragoș Vatră</title>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.6.9/dist/vue.js"></script>
	  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>	
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- Stop <head> elements -->
<!-- Start <body> elements -->
<body>
    <div id="app">
    <!-- Start <navbar> elements -->
        <div id="navbar">
          <b-navbar toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand href="index.html">
              <img src="images/logo-mg.jpg" class="d-inline-block align-top logo" alt="Logo">
            Visit Magna Graecia</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav>
                <b-nav-item href="../index.html" target="_blank">Portfolio</b-nav-item>
                <b-nav-item href="index.html">Home</b-nav-item>
                <b-nav-item href="index.html#sightseeing-home">Sightseeing tours</b-nav-item>
                <b-nav-item href="index.html#contact">Contact</b-nav-item>
              </b-navbar-nav>
              <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="Tours" right>
                  <b-dropdown-item href="sightseeing-1.html" class="text-center tours" id="tour-1">Crotone-Sibari-Adrano-Gela-Lipari</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-2.html" class="text-center tours" id="tour-2">Messina-Milazzo-Catania-Naples-Taranto</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-3.html" class="text-center tours" id="tour-3">Locri-Naples-Policastro-Tusa-Enna</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-4.html" class="text-center tours" id="tour-4">Camerina-Giardini Naxos-Syracuse-Ischia-V.Valentia</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-5.html" class="text-center tours" id="tour-5">Naples-Taranto-Agira-Lentini-Augusta</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-6.html" class="text-center tours" id="tour-6">Messina-Tindari-Naples-Taranto-Crotone</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-7.html" class="text-center tours" id="tour-7">Locri-Calabria-Agrigento-Gela-Catania</b-dropdown-item>
                  <b-dropdown-item href="sightseeing-8.html" class="text-center tours" id="tour-8">Naples-Sibari-Tusa-Mendolito-Syracuse</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown right>
                  <template #button-content>
                    <em>User</em>
                  </template>
                  <b-dropdown-item href="#">
                    <div class="text-center">
                      <b-button variant="light" v-b-modal.my-modal>Sign in</b-button>
                      <b-modal id="my-modal">
                        <template>
                          <div>
                            <b-form-input v-model="text" placeholder="Username" class="text-center"></b-form-input><br>
                            <b-form-input v-model="pasword" type="password" placeholder="Password" class="text-center"></b-form-input>
                          </div>
                        </template>
                      </b-modal>
                    </div>
                  </b-dropdown-item>
                    <div class="text-center">
                      <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                    </div>
                </b-nav-item-dropdown>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </div>
    <!-- Stop <navbar> elements -->
    <!-- Start <section> elements -->
        <div id="questionnaire" class="text-center">
          <b-jumbotron bg-variant="success" text-variant="white" border-variant="dark">
            <template #header><p id="questionnaire-text">Questionnaire</p></template>
            <template #lead>
              Please participate to our questionnaire!
            </template>
            <hr class="my-4">
            <template>
              <div id="age">
                <b-form-group label="Your age is:" v-slot="{ ariaDescribedby }" class="question">
                  <b-form-radio-group id="age" v-model="selected" :aria-describedby="ariaDescribedby" name="question-1">
                    <b-form-radio value="first" class="ages">Less than 24</b-form-radio>
                    <b-form-radio value="second" class="ages">Between 24 and 39</b-form-radio>
                    <b-form-radio value="third" class="ages">Between 40 and 55</b-form-radio>
                    <b-form-radio value="fourth" class="ages">Over 55</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
              </div>
            </template>
            <br>
            <b-container fluid>
              <b-row>
                <b-col sm="2">
                  <label for="textarea-small" class="question">Nationality:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-textarea id="nationality" size="sm" placeholder="Nationality"></b-form-textarea>
                </b-col>
              </b-row>
            </b-container>
            <br>
            <b-container fluid>
              <b-row>
                <b-col sm="2">
                  <label for="textarea-small" class="question">Where do you currently live (city, country)?:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-textarea id="places" size="sm" placeholder="Places"></b-form-textarea>
                </b-col>
              </b-row>
            </b-container>
            <br>
            <template>
              <p class="question">Do you use to travel for?</p>
                <div class="text-center">
                  <b-form-select v-model="selected" class="mb-3">
                    <b-form-select-option :value="null">Please select an option</b-form-select-option>
                    <b-form-select-option value="a">Leisure</b-form-select-option>
                    <b-form-select-option value="b">Business</b-form-select-option>
                    <b-form-select-option value="c">Meeting friends and relatives</b-form-select-option>
                  </b-form-select>
                </div>
            </template>
            <br>
            <template>
              <div class="text-center">
                <label for="tags-basic" class="question" id="tag-places">What are the places you have traveled to before?</label>
                <b-form-tags input-id="tags-basic" v-model="value" id="add-tags"></b-form-tags>
              </div>
            </template>
            <br>
            <template>
              <div class="text-center">
                <p class="question">Please give a note to our website</p>
                  <b-form-rating v-model="value" id="stars"></b-form-rating>
              </div>
            </template>
            <br>
            <div class="text-center">
              <b-button variant="outline-dark" href="index.html#navbar" id="thanks">Thank you for your kindness!</b-button>
            </div>
          </b-jumbotron>
        </div>
    <!-- Stop <section> elements -->
    <!-- Start <footer> elements -->
    <footer id="footer">
        <b-container class="bv-example-row text-center">
          <b-row>
            <b-col>
              <h4 class="footer-title">Menu</h4>
              <template>
                <div class="h6 mb-0">
                  <b-icon-house-fill animation="fade" font-scale="1" class="icon"></b-icon-house-fill><b-link class="icon-text" href="#navbar">Home</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-binoculars-fill animation="fade" font-scale="1" class="icon"></b-icon-binoculars-fill><b-link class="icon-text" href="index.html#sightseeing">Sightseeing tours</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-telephone-fill animation="fade" font-scale="1" class="icon"></b-icon-telephone-fill><b-link class="icon-text" href="index.html#contact">Contact</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-person-circle animation="fade" font-scale="1" class="icon"></b-icon-person-circle><b-link class="icon-text" href="../index.html" target="_blank">Portfolio</b-link>
                </div>
              </template>
            </b-col>
            <b-col>
              <h4 class="footer-title">Information</h4>
              <template>
                <div class="h6 mb-0">
                  <b-icon-question-square-fill animation="throb" font-scale="1" class="icon"></b-icon-question-square-fill><b-link class="icon-text" href="#">FAQ's</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-shuffle animation="throb" font-scale="1" class="icon"></b-icon-shuffle><b-link class="icon-text" href="#">How to use this site</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-book-fill animation="throb" font-scale="1" class="icon"></b-icon-book-fill><b-link class="icon-text" href="#">Free advice</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-lock-fill animation="throb" font-scale="1" class="icon"></b-icon-lock-fill><b-link class="icon-text" href="#">Privacy policy</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-patch-exclamation-fill animation="throb" font-scale="1" class="icon"></b-icon-patch-exclamation-fill><b-link class="icon-text" href="#">Terms & Conditions</b-link>
                </div>
              </template>
            </b-col>
            <b-col>
              <h4 class="footer-title">Resources</h4>
              <template>
                <div class="h6 mb-0">
                  <b-icon-pentagon-fill animation="cylon" font-scale="1" class="icon"></b-icon-pentagon-fill><b-link class="icon-text" href="#">Allet</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-shield-fill animation="cylon" font-scale="1" class="icon"></b-icon-shield-fill><b-link class="icon-text" href="#">Bertolini</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-slack animation="cylon" font-scale="1" class="icon"></b-icon-slack><b-link class="icon-text" href="#">Cooper Pegler</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-sun animation="cylon" font-scale="1" class="icon"></b-icon-sun><b-link class="icon-text" href="#">Efco</b-link>
                </div>
              </template>
              <template>
                <div class="h6 mb-0">
                  <b-icon-signpost-fill animation="cylon" font-scale="1" class="icon"></b-icon-signpost-fill><b-link class="icon-text" href="#">Flymo</b-link>
                </div>
              </template>
            </b-col>
          </b-row>
        </b-container>
        <b-container class="bv-example-row text-center">
          <b-row>
            <b-col>
              <p class="dragos text-center">Created by <a href="../index.html" target="_blank">Dragoş Vatră</a> &#169; 2021-2022 All rights reserved</p>
            </b-col>
          </b-row>
        </b-container>
    </footer>
    <!-- Stop <footer> elements -->
    <!-- Start <script> elements -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
    <script type="text/javascript" src="js/select.js"></script>
    <!-- Stop <script> elements -->
    </div>
</body>
<!-- Stop <body> elements -->
</html>
<!-- Stop web page -->